/* Ogólne style dla body */
body {
  transition: background-color 0.4s, color 0.4s;
}

/* Menu */
.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.menu #to-do {
  grid-column: 2/3;
}
.menu #calculator {
  grid-column: 4/5;
}
.menu button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s, transform 0.2s;
}

.menu button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* ciemny motyw switcher */
.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.4s, transform 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: background-color 0.4s, transform 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #007bff;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.emoji {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  transition: opacity 0.4s;
}

.moon {
  top: 17px;
  left: 33px;
}

.sun {
  top: 17px;
  right: 33px;
  display: none;
}

input:checked + .slider .moon {
  opacity: 0;
}

input:checked + .slider .sun {
  display: inline;
  opacity: 1;
}

/* Dark Mode */
body.dark-mode {
  background-color: dimgrey;
  color: white;
}
