.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  top: 10px;
  left: 10px;
}

.menu button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.menu button:hover {
  background-color: #0056b3;
}
