/* Ogólne style dla body */
body {
  transition: background-color 0.4s, color 0.4s;
  background-color: #e5e9ed;
}

/* Menu */
.menu {
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;

  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#menu-icon {
  color: #000;
  font-size: 1.5rem;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.menu-items {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  row-gap: 1.6rem;
}
.menu-link {
  color: #000;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
}
.menu-items :hover {
  color: #746c6c;
}
.menu-last-element {
  padding-bottom: 2rem;
}
.folding-content {
  max-height: 0;
  overflow: hidden;
}
/* Menu end*/
/* ciemny motyw switcher */
.switch-container {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 50px;
  margin-right: 20px;
}

.switch {
  height: 34px;
  width: 60px;
  display: inline-flex;
  align-items: center;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.4s, transform 0.4s;
  border-radius: 34px;
}

.slider:before {
  content: "";
  height: 26px;
  width: 26px;
  background-color: #fff;
  margin: 4px;
  transition: background-color 0.4s, transform 0.4s;
  border-radius: 50%;
  display: inline-block;
}

input:checked + .slider {
  background-color: #007bff;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.emoji {
  font-size: 20px;
  transition: opacity 0.4s;
  display: inline-block;
  vertical-align: middle;
}

.moon {
  margin-right: 10px;
}

.sun {
  top: 5px;
  margin-left: 0px;
  display: none;
}

input:checked + .slider .moon {
  opacity: 0;
}

input:checked + .slider .sun {
  display: inline-block;
  opacity: 1;
}

.folding-content {
  max-height: 0;
  overflow: hidden;
}

/* Dark Mode switcher end*/

/* Dark Mode */
body.dark-mode {
  background-color: dimgrey;
  color: white;
}
/* Folding */

.folding-expanded .folding-content {
  max-height: 100vh;
}
.folding-expanded #menu-icon {
  box-shadow: 0 0 3px 2px #fff;
  border-radius: 5px;
}
/* Main container */
.main-container {
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 1px;
}
.main-container h1 {
  text-align: center;
}
.main-container p {
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}
.projects-container {
  border: 1px solid #000;
  text-align: center;
  border-radius: 5px;
}
@media screen and (min-width: 900px) {
  .menu-items {
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 1.5rem;
    padding: 2rem 0;
    margin-right: 3rem;
  }
  .menu-last-element {
    padding-bottom: 0rem;
    padding-right: 2rem;
  }
  #menu-icon {
    display: none;
  }
  .switch {
    margin-top: 3rem;
    margin-right: 0.5rem;
  }
}
